<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.orsg">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
  <div class="row  border border-dark border-bottom-0">
    <div class="col-4 border-end border-dark d-flex justify-content-center align-items-center">best of</div>
    <div class="col-8">
    	<div class="py-3 px-5 w-100 d-flex justify-content-start">
    		<a 
    			class="btn btn-outline-secondary" 
    			th:href="@{/movies}">Movies</a>
    		<a 
    		class="btn btn-outline-secondary" 
    		th:href="@{/songs}">Songs</a>
    	</div>
    </div>
  </div>
</body>
</html>